<div class="row">
	<div class="col-sm-12">
		<h2>Event Calendar: <%= link_to "Calendar", events_path %></h2>
		<h2>Event: <%= link_to "#{@sub_event.event.name}", event_path(@sub_event.event) %> | <small><%= @sub_event.event.event_type.name %></small>
		<h3>Task: <%= @sub_event.sub_event_type.name %> Roster | <small><%= @sub_event.name %></small></h3>

		<h5><b><i>Date: <%= @sub_event.event.date.strftime("%m/%d/%Y") %> Time: <%= @sub_event.start_time.strftime("%l:%M %p") + " to " + @sub_event.end_time.strftime("%l:%M%p") %></i></b></h5>
	</div>
</div>

<div class="row">

	<div class="col-sm-6">

		<h3>Add User to Task</h3>

		<%= form_tag add_user_to_task_path, method: :post do %>
			<div class="form-group">
		  		<%= select_tag("user_id", options_from_collection_for_select(User.all, "id", :full_name), class: 'form-control') %>
		  	</div>


		  <%= submit_tag 'Add User', class: 'btn btn-primary' %>
		<% end %>

	</div>

	<div class="col-sm-6">

		<h3>Current Users for Task</h3>

		<table class="table table-striped table-bordered">
			<% @roster.each do |user| %>
				<tr>
					<th>Name</th>
					<th>Role</th>
					<th>Attended</th>
					<th>Actions</th>
				</tr>
				<tr>
					<td><%= user.full_name %></td>
					<td><%= user.role %></td>
					<td>Check</td>
					<td>
						<%= form_tag remove_user_from_task_path(user_id: user.id), method: :post do %>
							<%= submit_tag 'Remove User', class: 'btn btn-danger btn-xs' %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>

	</div>
</div>