<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-pills">
			<li role="presentation">
				<%= link_to "Back to Calendar", events_path %>
			</li>
			<li role="presentation">
				<%= link_to "Complete Task", complete_task_path(@sub_event) %>
			</li>
		</ul>
		<h2><%= link_to "#{@sub_event.event.name}", event_path(@sub_event.event) %> | <small><%= @sub_event.event.event_type.name %></small>
		<h3><%= @sub_event.sub_event_type.name %> Roster | <small><%= @sub_event.name %></small></h3>

		<h5><b><i><%= @sub_event.event.date.strftime("%m/%d/%Y") %> <%= @sub_event.start_time.strftime("%l:%M %p") + " to " + @sub_event.end_time.strftime("%l:%M%p") %></i></b></h5>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<h3>Add User to Task</h3>
		<%= form_tag add_user_to_task_path, method: :post do %>
			<div class="form-group">
		  		<%= select_tag("user_id", options_from_collection_for_select(User.endusers, "id", :full_name), class: 'form-control') %>
		  	</div>
		  <%= submit_tag 'Add User', class: 'btn btn-primary' %>
		<% end %>
    <% User::ROLES.each do |role| %>
      <% if current_user.role == 'admin' || current_user.role == role.to_s %>
          <tr>
            <th><%= role.capitalize %> Volunteers</th>
            <td><%= volunteer_count(role,@task)%></td>
          </tr>
      <% end %>
    <% end %>
	</div>
	<div class="col-sm-8">
		<h3>Current Users for Task</h3>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th>Attended</th>
				<th>Actions</th>
			</tr>
			<% @roster.each do |user| %>
				<tr>
					<td><%= user.full_name %></td>
					<td><%= user.role %></td>
					<td>
						<% if attended_sub_event?(user) %>
							<%= form_tag edit_attendance_path(@sub_event.id) do %>
								<%= hidden_field_tag "attendee_id", user.id  %>
								<%= hidden_field_tag "attended", false  %>
								<%= submit_tag 'No', class: 'btn btn-primary btn-xs btn-hours' %>
							<% end %>
						<% else %>
							<%= form_tag edit_attendance_path(@sub_event.id) do %>
									<%= hidden_field_tag "attendee_id", user.id  %>
									<%= hidden_field_tag "attended", true  %>
									<%= submit_tag 'Yes', class: 'btn btn-primary btn-xs btn-hours' %>
							<% end %>
						<% end %>
					</td>
					<td>
						<%= form_tag remove_user_from_task_path(user_id: user.id), method: :post do %>
							<%= submit_tag 'Remove User', class: 'btn btn-danger btn-xs' %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>