<%= form_for(@preference_type) do |f| %>
  <% if @preference_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference_type.errors.count, "error") %> prohibited this preference_type from being saved:</h2>

      <ul>
      <% @preference_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-primary", data: { disable_with: "Saving..." } %>
  </div>
<% end %>
