<p id="notice"><%= notice %></p>

<h1>Listing Preference Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preference_types.each do |preference_type| %>
      <tr>
        <td><%= preference_type.name %></td>
        <td><%= link_to 'Show', preference_type %></td>
        <td><%= link_to 'Edit', edit_preference_type_path(preference_type) %></td>
        <td><%= link_to 'Destroy', preference_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preference type', new_preference_type_path %>
