<h1>Listing Notifications</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Body</th>
      <th>Read</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |n| %>
      <tr>
        <td><%= n.id %>
        <td><%= n.notification.notification_type %></td>
        <td><%= n.notification.body %></td>
        <td><%= n.read %></td>
        <td><%= link_to "Read", read_notification_path(n.id), method: 'post' %></td>

        <!-- 
        <td><%#= link_to 'Show', notification %></td>
        <td><%#= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%#= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Notification', new_notification_path %>
