<%= form_for @user do |f| %>

  <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %>

  <div class="form-group">
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname, :autofocus => true, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname, :autofocus => true, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </div>

  <div><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
<% end %>