<%= form_for @user do |f| %>

  <% if current_user.role == 'admin' %>
    <div class="form-group"> 
      <%= f.label :role, "Role" %><br />
      <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize},{}, {class: "form-control"}) %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname, :autofocus => true,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname, :autofocus => true, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
  </div>

  <BR>

  <div><%= f.submit "Save", :class => "btn btn-primary", data: { disable_with: "Saving..." } %></div>
<% end %>