<% if user_signed_in? %>

	<% if current_user.sub_events.exists? %>

		<h3>My Tasks</h3>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Event Name</th>
				<th>Task Name</th>
				<th>Task Type</th>
				<th>Task Date</th>
				<th>Task Time</th>
			</tr>
			
				<% current_user.sub_events.each do |task| %>
			<tr>
					<td><%= task.event.name %></td>
					<td><%= link_to task.name, event_sub_event_path(task.event,task)%></td>
					<td><%= task.event.event_type.name %></td>
					<td><%= task.event.date.strftime("%m/%d/%Y") %></td>
					<td><%= task.start_time.strftime("%I:%M%p") %> to <%= task.end_time.strftime("%I:%M%p") %></td>
			</tr>
				<% end %>
			
		</table>

	<% end %>

		<h3>Suggested Events</h3>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Street</th>
				<th>City</th>
				<th>Date</th>
				<th>Event Tasks</th>
				<% if current_user.role == 'admin' %>
					<th>Community</th>
					<th>Intern</th>
					<th>Staff</th>
				<% else %>
					<th><%= current_user.role.capitalize %>'s Signed Up</th>
					<th>Actions</th>
				<% end %>
			</tr>
				<% @suggested_tasks.each do |task| %>
				<tr>
					<td><%= link_to task.name, event_path(task) %></td>
					<td><%= task.event_type.name %>
					<td><%= task.event_type.street %>
					<td><%= task.event_type.city %></td>
					<td><%= task.date.strftime("%m/%d/%Y") %></td>
					<td><%= task.sub_events.count %></td>
						<% if current_user.role == 'admin' %>
						<td><%= get_volunteer_counts(:community, task) %></td>
						<td><%= get_volunteer_counts(:intern, task) %></td>
						<td><%= get_volunteer_counts(:staff, task) %></td>
						<% else %>
						<td>
							<%= get_volunteer_counts(current_user.role, task) %>
						</td>
						<td>
							<%= button_to "View Event", event_path(task), method: 'get', class: 'btn btn-primary btn-xs' %>
						</td>
						<% end %>
				</tr>
				<% end %>
		</table>

<% end %>