<h1>Listing Users</h1>

<%= button_to 'Create New User', new_user_path, class: 'btn btn-primary btn-xs' %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Created</th>
      <th>Count</th>
      <th>Last Sign In</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.fname %></td>
        <td><%= user.lname %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= user.sign_in_count %></td>

        <% if user.current_sign_in_at != nil %>
          <td><%= user.current_sign_in_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
        <% else %>
          <td>No Data</td>
        <% end %>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <%= button_to user, class: 'btn btn-xs btn-primary', method: 'get' do %>
              Show Profile
            <% end %>       

            <%= button_to edit_user_path(user), class: 'btn btn-xs btn-primary', method: 'get' do %>
              Edit User
            <% end %> 
        
            <%= button_to new_user_volunteer_note_path(user),class: 'btn btn-xs btn-primary', method: 'get' do %>
              Add Note 
              <span class="badge"><%= user.volunteer_notes.count %></span>
            <% end %>
          
            <%= button_to user, class: 'btn btn-xs btn-primary', method: :delete, data: { confirm: 'Are you sure?' } do %>
              Delete User
            <% end %> 
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @users %>

<!-- Add in a button dropdown for how many to display per page -->
