<div class="col-sm-8"><h3>Listing Users</h3></div>
<div class="col-sm-4"><%= button_to 'Create New User', new_user_path, class: 'btn btn-primary btn-xs' %></div>

<table class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Created</th>
      <th>Count</th>
      <th>Last Sign In</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.fname %></td>
        <td><%= user.lname %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= user.sign_in_count %></td>

        <% if user.current_sign_in_at != nil %>
          <td><%= user.current_sign_in_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
        <% else %>
          <td>No Data</td>
        <% end %>
        <td><%= user.volunteer_notes.count %></td>
        <td>
          <!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><%= link_to 'Show Profile', user %></li>
                <li><%= link_to 'Edit User', edit_user_path(user) %></li>
                <li><%= link_to 'Add Note', new_user_volunteer_note_path(user)%></li>
                <li><%= link_to 'Delete User', user, method: :delete, data: { confirm: "Are you sure?" } %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<!-- Add in a button dropdown for how many to display per page -->
