<p>
  <strong>User:</strong>
  <%= @user.fname %>
</p>

<% if can? :read, @user.volunteer_notes %>

<%= link_to "Add New Note", new_user_volunteer_note_path(@user) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Added By</th>
      <th>Note Details</th>
    </tr>
  </thead>

  <tbody>
    <%# @user.volunteer_notes.each do |note| %>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
      	<td><%= full_name(note.created_by_user) %></td>
        <td><%= note.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<%= button_to 'Back', users_path, class: 'btn btn-primary', method: 'get' %>