<% if has_role?(:admin) %>
  <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to "Add Admin Note", new_user_volunteer_note_path(@user) %>
    </li>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-7">
    <div class="page-header remove-margin-top no-border">
      <h1><%= @user.full_name %></h1>
    </div>
  </div>
  <div class="col-md-5">
    <div class="page-header remove-margin-top no-border">
      <h2>Role: <%= @user.role.capitalize %></h2>
    </div>
  </div>
</div>

<div class="row task-row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Personal Information</div>
        <table class="table table-bordered table-event-tasks">
          <tr>
            <th>Phone Number</th>
            <td><%= @user.phonenumber %>
          </tr>
          <tr>
            <th>Address</th>
            <td><%= @user.street %> <%= @user.city %>, <%= @user.state %> <%= @user.zip_code %>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @user.email %>
          </tr>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Account Information</div>
          <table class="table table-bordered table-event-tasks">
            <tr>
              <th>Created</th>
              <td><%= @user.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
            </tr>
            <tr>
              <th>Times Signed In</th>
              <td><%= @user.sign_in_count %></td>
            </tr>
          </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="glyphicon glyphicon-exclamation-sign
"></i> <%= @user.fname %>'s Statistics
        </div>
          <table class="table table-bordered table-event-tasks">
            <tr>
              <th>Tasks Completed</th>
              <td>Data</td>
            </tr>
            <tr>
              <th>Volunteer hours</th>
              <td>Data</td>
            </tr>
          </table>
      </div>
    </div>
</div>

<% if can? :read, @user.volunteer_notes %>
    <div class="panel panel-default">
        <div class="panel-heading">Preferences for <%= @user.full_name %></div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Preferences</th>
            </tr>
          </thead>

          <tbody>
            <% PreferenceType.all.each do |pt| %>
              <tr>
                <td><%= pt.name %></td>
                <td>
                  <% @user.preferences.where(preference_type_id: pt.id).each do |p| %>
                    <%= p.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>


<div class="panel panel-default">
        <div class="panel-heading">Admin Notes for <%= @user.full_name %></div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Added By</th>
              <th>Note Details</th>
            </tr>
          </thead>

          <tbody>
            <%# @user.volunteer_notes.each do |note| %>
            <% @notes.each do |note| %>
              <tr>
                <td><%= note.created_at.strftime("%m/%d/%Y") %></td>
                <td><%= note.created_at.strftime("%I:%M%p") %></td>
              	<td><%= full_name(note.created_by_user) %></td>
                <td><%= note.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% end %>
      </div>
    </div>

<%= button_to 'Back', users_path, class: 'btn btn-primary', method: 'get' %>