<% @tasks.incomplete.each do |task| %>
  <div class="row task-row">
    <div class="col-md-6">
      <div class="task-row-header">
        <h3><%= task.sub_event_type.name %> | <small><%= task.name %></small></h3>
      </div>
        <h5><b><i>Time: <%= task.start_time.strftime("%l:%M %p") + " to " + task.end_time.strftime("%l:%M%p") %></i></b></h5>
        <p><%= task.sub_event_type.description %>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-exclamation-sign
"></i> Volunteer Information
<% if can? :roster, task %>| <%= link_to "Roster", roster_path(task) %> <% end %>
          </div>
           <table class="table table-bordered table-event-tasks">
            <tr>
              <th>Hours</th>
              <td><%= ((task.end_time - task.start_time)/ 3600).round %></td>
            </tr>

            <% User::ROLES.select{|m| m != 'admin'}.each do |role| %>
              <% if current_user.role == 'admin' || current_user.role == role.to_s %>
                  <tr>
                    <th><%= role.capitalize %> Volunteers</th>
                    <td><%= volunteer_count(role,task)%></td>
                  </tr>
              <% end %>
            <% end %>
            <% if !task.users.blank? %>
                  <tr>
                    <th>Users Volunteering</th>
                    <td>
                        <ul class="list-group">
                          <% task.users.each do |user| %>
                            <% if user.role == current_user.role || current_user.role == 'admin' %>
                              <li class="list-group-item">
                                  <%= link_to "#{full_name(user)}", user_path(user) %>
                              </li>
                            <% end %>
                          <% end %>
                        </ul>
                    </td>
                  </tr>
                <% end %>
              <% if current_user.role != 'admin' %>
              <tr>
                <td colspan='2'>
                  <% if !is_registered?(task).include?(current_user.id.to_s) %>
                      <%= button_to event_sign_up_path(@event, task), class: 'btn btn-primary', method: 'get', data: { disable_with: "Adding..." } do %>
                        <i class='glyphicon glyphicon-ok-sign'></i> Add Me to Event!
                      <% end %>
                  <% else %>
                      <%= button_to event_task_remove_path(@event, task), class: 'btn btn-danger', method: 'get',data: { disable_with: "Removing..." } do %>
                        <i class='glyphicon glyphicon-remove-sign'></i> Remove Me from Event!
                      <% end %>
                  <% end %>
                </td>
              </tr>
              <% else %>
                <tr>
                  <td colspan='2'>
                  <%= button_to edit_event_sub_event_path(@event, task),class: 'btn btn-primary', method: 'get',data: { disable_with: "Removing..." } do %>
                        <i class='glyphicon glyphicon-edit'></i> Edit Task
                      <% end %>
                  </td>
              <% end %>    
          </table>
      </div>
    </div>
  </div>
<% end %>
