<div class="row">
	<div class="col-md-6">
		<div class="page-header remove-margin-top no-border">
	  		<h1><%= @event.event_type.name %> 
	  			<% if !@event.name.blank? %>
	  				| <small><%= @event.name %></small>
	  			<% end %>
	  		</h1>
		</div>
	</div>
	<div class="col-md-6">
		<div class="page-header remove-margin-top no-border">
			<h1 class="text-right"><%= @event.date.strftime("%A %B %d, %Y") %></h1>
		</div>
	</div>
</div>


		<%= render "sub_event" %>

		<% if can? :create, @sub_event %>
			<%= button_to "Add Task", new_event_sub_event_path(@event), class: "btn btn-xs btn-primary", method: "get" %>
		<% end %>

		<% if can? :edit, @event %>
			<%= button_to "Edit Event", edit_event_path(@event), class: "btn btn-xs btn-primary", method: "get" %>
		<% end %>

		<%= button_to 'Back', events_path, class: "btn btn-xs btn-primary", method:"get" %>
