
<p>
  <strong>Event type:</strong>
  <%= @event.event_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<%= render "sub_event" %>

<% if can? :create, @sub_event %>
	<%= button_to "Add Task", new_event_sub_event_path(@event), class: "btn btn-xs btn-primary", method: "get" %>
<% end %>

<% if can? :edit, @event %>
	<%= button_to "Edit Event", edit_event_path(@event), class: "btn btn-xs btn-primary", method: "get" %>
<% end %>

<%= button_to 'Back', events_path, class: "btn btn-xs btn-primary", method:"get" %>