<p id="notice"><%= notice %></p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<% @event.sub_events.each do |task| %>
	<%= task.name %>
<% end %>

<%= link_to 'New Event Task', new_event_sub_event_path(@event) %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
