<% if has_role?(:admin) %>
	<ul class="nav nav-pills">
	  	<li role="presentation">
	  		<% if can? :create, @sub_event %>
				<%= link_to "Add Task", new_event_sub_event_path(@event), method: "get" %>
			<% end %>
		</li>
		<li role="presentaion">
			<% if can? :edit, @event %>
				<%= link_to "Edit Event", edit_event_path(@event), method: "get" %>
			<% end %>
		</li>
		<li role="presentaion">
			<% if can? :complete_event, @event %>
				<%= link_to "Complete Event", complete_event_path(@event), method: "get" %>
			<% end %>
		</li>
	</ul>
<% end %>
<div class="row">
	<div class="col-md-8">
		<div class="page-header remove-margin-top no-border">
	  		<h1><%= @event.event_type.name %> 
	  			<% if !@event.name.blank? %>
	  				| <small><%= @event.name %></small>
	  			<% end %>
	  		</h1>

	  		<h5><i><%= @event.event_type.street %> <%= @event.event_type.city %>, <%= @event.event_type.city %> <%= @event.event_type.zip_code %></i></h5>
		</div>
	</div>
	<div class="col-md-4">
		<div class="page-header remove-margin-top no-border">
			<h1 class="text-right"><small><%= @event.date.strftime("%A %B %d, %Y") %></small></h1>
		</div>
	</div>
</div>



		<%= render "sub_event" %>

		<%= button_to 'Back', events_path, class: "btn btn-xs btn-primary", method:"get" %>
