<%= form_for [@user, @volunteer_note] do |f| %>
  <% if @volunteer_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer_note.errors.count, "error") %> prohibited this volunteer_note from being saved:</h2>

      <ul>
      <% @volunteer_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :created_by_user_id %>

  <div class="form-group">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Create Note", :class => 'btn btn-primary' %>
  </div>
<% end %>
