<h1>Listing Event Types</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @event_types.each do |event_type| %>
      <tr>
        <td><%= event_type.name %></td>
        <td><%= event_type.street %> <%= event_type.city %>, <%= event_type.state %> <%= event_type.zip_code %></td>
        <td><%= link_to 'Show', event_type %></td>
        <td><%= link_to 'Edit', edit_event_type_path(event_type) %></td>
        <td><%= link_to 'Delete', event_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event type', new_event_type_path %>
