<!DOCTYPE html>
<html>
<head>
  <title>The Patachou Foundation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper container">
	<div class="col-lg-12">
	<%= image_tag('logo.png') %>

		<%= render "shared/navigation" %>


		<% if notice %>
		  <p class="alert alert-success"><%= notice %><button class="close" data-dismiss="alert">x</button></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %><button class="close" data-dismiss="alert">x</button></p>
		<% end %>

		<%= yield %>
	</div>

</div>

</body>
</html>