<!DOCTYPE html>
<html>
<head>
  <title>The Patachou Foundation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper container">


	<%= image_tag('logo.png') %>

	<%= render "shared/navigation" %>

	<div id="content">
			<% if notice %>
			  <div class="alert alert-success fade in"><%= notice %><button class="close" data-dismiss="alert">&times;</button></div>
			<% end %>
			<% if alert %>
			  <div class="alert alert-danger fade in"><%= alert %><button class="close" data-dismiss="alert">&times;</button></div>
			<% end %>
		<%= yield %>
	</div>

</div>
</body>
</html>